# Environnements Python
env_cafe_sales/
venv/
ENV/
env/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Fichiers système
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Données sensibles (si tu as des données confidentielles)
data/raw/*.csv
data/raw/*.xlsx

# IDE
.vscode/
.idea/

# Autres
*.log
.env